<div class="container">
  <div class="row">
    <div class="title">
      <h3>ME</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <h4 class="pb-5 mt-3">
        <span>MY情報編集</span>
      </h4>
    </div>
  </div>

  <%= form_with model:@customer, url: customer_path(@customer),local:true do |f| %>
    <div class="form-group row">
      <div class="col-4">
        <%= f.label :プロフィール画像 %>
      </div>
      <div class="col-8">
        <%= f.file_field :profile_image %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <%= f.label :ニックネーム %>
      </div>
      <div class="col-8">
        <%= f.text_field :nickname %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <%= f.label :ユーザーID %>
      </div>
      <div class="col-8">
        <%= f.text_field :user_id %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <%= f.label :電話番号 %>
      </div>
      <div class="col-8">
        <%= f.text_field :call_number %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col-8">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-8">
        <%= link_to"退会する",out_path(@customer), method: :patch,"data-confirm"=>"本当に退会しますか？" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-8">
        <%= f.submit" 編集内容を保存 " %>
      </div>
    </div>

  <% end %>
</div>