<div class="container">
  <div class="row">
    <div class="title">
      <%= image_tag 'myroom.png', size:"250x150" %>
      <h3>ME</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="px-3">
      <h4 class="pb-5 mt-3">
        <span>MY情報編集</span>
      </h4>
    </div>
  </div>

  <%= form_with model: @customer, url: customer_path(@customer),local:true do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="text-center mb-5">
        <div>
          <%= f.label :プロフィール画像 %>
        </div>
        <div>
          <% if @customer.profile_image.attached? %>
            <%= image_tag @customer.profile_image %>
          <% end %>
        </div>
          <span style="font-size : small">画像を変更したい場合は下記より選択してください</span>
          <%= f.file_field :profile_image %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <%= f.label :ニックネーム %>
            </td>
            <td>
              <span style="font-size :x-small">※他のユーザーにも公開されます</span>
              <%= f.text_field :nickname %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :ユーザーID %></td>
            <td>
              <span style="font-size :x-small">※他のユーザーにも公開されます</span>
              <%= f.text_field :user_id %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :電話番号 %></td>
            <td><%= f.text_field :call_number %></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to"退会する",out_path(@customer), method: :patch,"data-confirm"=>"本当に退会しますか？" %></td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      <div class="text-center mt-5 mb-5">
        <%= f.submit" 編集内容を保存 " ,class:"button"%>
      </div>
    </div>
  </div>
  <% end %>
</div>