<div class="container py-5">
  <div class="row">
    <div class="title">
      <h3><%= @customer.nickname %>'s  MY ROOM </h3>
    </div>
  </div>
</div>
<div class="container md-px-5">
  <div class="row">
    <div class="col-6">
      <div class="text-right">
        <div class="profile-image2">
            <%= image_tag @customer.get_profile_image(150,150) %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="text-left">
        <table class="table table-borderless mx-auto">
          <tbody>
            <tr>
              <td><%= @customer.nickname %></td>
              <% if @customer.id == current_customer.id %>
              <td>
                <%= link_to customer_path(current_customer), class:"button" do %>
                  <i class="ri-user-settings-line fa-lg"></i>
                <% end %>
              </td>
              <% end %>
            </tr>
            <tr><td><%= @customer.user_id %></td></tr>
            <tr><td><span>投稿数 :</span><%= @customer.cosmetics.count %></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto my-3">
      <% if @customer.id == current_customer.id %>
        <span>
          <%= link_to new_cosmetic_path, class:"button" do%>
            <i class="ri-file-add-line"></i>新規投稿
          <% end %>
          <%= link_to calendars_path, class:"button" do %>
            <i class="ri-calendar-event-line"></i>カレンダー
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render "public/cosmetics/category",categories: @categories, cosmetics: @cosmetics, customer: @customer %>
  </div>
  <div class="row">
    <%= render "public/cosmetics/index" , cosmetics: @cosmetics, customer: @customer %>
  </div>
</div>
