<div class="container">
  <div class="row">
    <div class="title">
      <%= image_tag 'myroom.png', size:"250x150" %>
      <h3>ME</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mx-5 pb-2">
      <h4>MY情報</h4>
      <% if @customer.nickname != "guestcustomer" %>
        <%= link_to edit_customer_path(current_customer), class:"button" do %>
          <i class="ri-user-settings-line fa-lg"></i>
        <% end %>
      <% end %>
  </div>
  <div class="row">
    <table class="table table-bordered col-10 mx-auto">
      <tbody>
        <tr>
          <td width="200" class="bg-light">プロフィール画像</td>
          <td class="bg-light"><%= image_tag @customer.get_profile_image(100,100) %></td>
        </tr>
        <tr>
          <td class="bg-light">ニックネーム</td>
          <td class="bg-light"><%= @customer.nickname %></td>
        </tr>
        <tr>
          <td class="bg-light">ユーザーID</td>
          <td class="bg-light"><%= @customer.user_id %></td>
        </tr>
        <tr>
          <td class="bg-light">電話番号</td>
          <td class="bg-light"><%= @customer.call_number %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td class="bg-light"><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>