  <div class="cosmetic-box">
    <% cosmetics.each do |cosmetic| %>
      <div class="cosmetic-container">
        <div class="profile-image">
          <%= link_to mycosmetics_path(cosmetic.customer.id), class:"link2" do %>
            <%= image_tag cosmetic.customer.get_profile_image(40,40) %>
            <span><%= cosmetic.customer.nickname %></span></br>
          <% end %>
        </div>
        <div class="cosmetic-image">
        <%= link_to cosmetic_path(cosmetic.id) do %>
          <%= image_tag cosmetic.cosmetic_image ,size:'100x100' %>
        <% end %>
        </div>
        <div class="cosmetic-body">
          <div class="cosmetic-row">
              <p class="cosmetic-name">
                <%= link_to cosmetic_path(cosmetic.id),class:"text-dark" do %>
                  <strong><i class="ri-vip-diamond-line"></i><span><%=cosmetic.cosmetic_name %></span></strong>
                <% end %>
              </p>
              <p style="font-size:small">説明：<%= cosmetic.introduction.truncate(15) %></p>
              <span id="favorite_buttons_<%= cosmetic.id %>">
                <%= render "public/favorites/favorite_buttons", cosmetic: cosmetic %>
              </span>
              <span> | </span>
              <span style="font-size:small"><%= link_to "#{cosmetic.cosme_comments.count} コメント", cosmetic_path(cosmetic.id), class:"text-dark" %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
