<%=render"layouts/errors",obj: @customer%>
<div class="container">
  <div class="row">
    <div class="title">
      <span><%=@customer.nickname%>さんの会員情報編集</span>
    </div>
  </div>

  <div class="row">
    <%=form_with model: @customer,url:admin_customer_path,method: :patch,local:true do |f|%>
    <table class="table table-borderless mb-5">
      <tbody>
        <tr>
          <td width="250vw">
            <%= f.label :ニックネーム %>
          </td>
          <td width="200vw">
            <%= f.text_field :nickname %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :ユーザーID %>
          </td>
          <td>
            <%= f.text_field :user_id %>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.label :電話番号 %>
          </td>
          <td>
            <%= f.text_field :call_number %>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.label :メールアドレス %>
          </td>
          <td>
            <%= f.email_field :email, autocomplete: "email" %>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.label :会員ステータス%>
          </td>
          <td>
            <%= f.radio_button :is_deleted, false%>有効  <%= f.radio_button :is_deleted, true%>退会
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <%= f.submit "  変更を保存  " ,class:"btn btn-success"%>
          </td>
        </tr>
    <% end %>
    </table>
  </div>
</div>

