<%= stylesheet_link_tag "public/calendars", :media => "all" %>

<div class="container">
  <div class="calendar-row">

    <% @dates.each do |date| %>
    <div class="calendar-box">
      <%= date %>
      <%= link_to new_calendar_path do %>
        <i class="fa-thin fa-calendar-plus"></i>
      <% end %>
      <%= link_to edit_calendar_path(current_customer) do %>
        <i class="fa-thin fa-pen"></i>
      <% end %>
      <% @cosmetics.each do |cosmetic| %>
        <% cosmetic.calendars.each do |calendar| %>
          <% if calendar.used_date.strftime('%Y-%m-%d') == date.to_s %>
            <%= link_to cosmetic_path(calendar.cosmetic_id) do %>
              <%= image_tag cosmetic.cosmetic_image,size:"150x150" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>
    <% end %>

  </div>
</div>
