<%= stylesheet_link_tag "public/calendars", :media => "all" %>

<div class="calendar-container">
  <div class="calendar-row">
  <% e = Enumerator.new do |yielder| %>
    <% head = Date.today.beginning_of_year %>
    <% tail = Date.today.end_of_year %>

    <% while head <= tail %>
      <% yielder << head %>
      <%= link_to calendars_path(month: head),class:"link2" do %>
        <span><%= head.month %>月</span>
      <% end %>
      <% head = head.next_month %>
    <% end %>
  <% end %>
  <% e.each {|date|} %>
  </div>
</div>

<div class="date-container">
  <div class="dates-row">
    <% @dates.each do |d| %> <!-- [date, cosmetic] -->
      <div class="dates">
        <div class="date-image">
        <%= d %>
        <% if @calendar[d.strftime("%y-%m-%d")].present? %>
          <%= link_to edit_calendar_path(@calendar[d.strftime("%y-%m-%d")].id) ,class:"link2" do %>
            <i class="fas fa-pen"></i>
          <% end %>
        <% else %>
          <%= link_to new_calendar_path(used_date: d) ,class:"link2" do %>
            <i class="fas fa-calendar-plus"></i>
          <% end %></br>
        </div>
        <% end %>
        <% next if @calendar[d.strftime("%y-%m-%d")].blank? %>
          <% @calendar[d.strftime("%y-%m-%d")].cosmetics.each do |c| %>
            <%= image_tag c.cosmetic_image,size:"100x100" %>
          <% end %><br>
      </div>
    <% end %>
  </div>
</div>
