<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h5 class="col my-4 text-center">
        <div class="title">
          <span> Log in </span>
        </div>
      </h5>
    </div>
  </div>
  <div clas="row">
    <div class="text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "ログイン" %>
      </div>
      <% end %>
      <div class="my-5">
        <h5>
          <span> 会員登録されていない方 </span>
        </h5>
        <div class="my-2">
           <%=link_to"こちら",new_customer_registration_path %>から新規会員登録してください。
        </div>
        <h5>
          <span> ゲストログインはこちら（閲覧用） </span>
        </h5>
        <div class="my-2">
           <%= link_to 'こちら', customers_guest_sign_in_path, method: :post %>からお試しください。
        </div>
      </div>
    </div>
  </div>
</div>
