<!DOCTYPE html>
<html>
  <head>
    <title>COS.ME</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
    <div id="main-container">
      <%= render 'layouts/header' %>
      <main>
      <%= render 'layouts/flash' %>
      <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
