<%= form_with model:cosme_comment, url: [cosmetic, cosme_comment], id:"new_comment" ,local: false do |f| %>
 <div class="form-group">
   <%= f.text_area :comment, method: :post, remote: true, data: {"turbolinks" => false}, id:"js-new-comment-body",row: '4',placeholder: "コメントをここに" %>
   <input type="submit" value"送信する" class="button">
 </div>
 <%#= f.submit t('defaults.post'),class:"btn btn-primary"%>
<% end %>
<% cosmetic.cosme_comments.each do |cosme_comment| %>
  <span class="profile-image">
    <%= image_tag cosme_comment.customer.get_profile_image(40,40) %>
  </span>
  <%= cosme_comment.customer.nickname %>,
  <%= cosme_comment.created_at.strftime('%Y/%m/%d') %>
  <%= cosme_comment.comment %>
  <% if cosme_comment.customer == current_customer %>
    <%= link_to cosmetic_cosme_comment_path(cosme_comment.cosmetic, cosme_comment), method: :delete, remote: true, data: {"turbolinks" => false}, class: "text-dark" do %>
      <i class="ri-delete-bin-7-line"></i>
    <% end %></br>
  <% end %>
<% end %>